@using System.Web;
@using ThietBiDienTu_2.Areas.Admin.ViewModels
@model X.PagedList.IPagedList<DongTbAndAmount>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
 <script>
     $(document).ready(function () {
         
        var Ngaymuon = '@(HttpContextAccessor.HttpContext.Session.GetString("NgaymuonPm") == null 
        ? "" : DateTime.Parse(HttpContextAccessor.HttpContext.Session.GetString("NgaymuonPm")).Year < 2010 ?
            "" : DateTime.Parse(HttpContextAccessor.HttpContext.Session.GetString("NgaymuonPm")).ToString("yyyy-MM-dd"))' ;

         var searchStringView = '@Html.Raw(HttpUtility.HtmlEncode(ViewBag.searchStringAdd))';
        var pageView = '@ViewBag.pageAdd';
         var madongtbView = null;
        //Use event delegation to handle click events on dynamic loaded elements
        $('.addProductA').click(function () {
            madongtbView = $(this).attr('value');
            console.log("Get to click a" + madongtbView);
            getToAddBorrowDevices();
         });

        $('.CloseModalPopup').click(function () {
            closeModalPopup();
        });

        $('#BorrowTo').val(Ngaymuon);

         $('#BorrowTo').change(function () {
             Ngaymuon = $(this).val();
             searchStringView = null;
             pageView = null;
            getToAddBorrowDevices()
         
         });
        $('#BorrowTo').attr({
            'min': TodayMade
        });

        $('#searchString_ChooseDevices').val(searchStringView);

        $('#searchString_ChooseDevices').change(function () {
             searchStringView = $(this).val();
            getToAddBorrowDevices();
         });

        $('#btnSearch_ChooseDevices').click(function () {
            searchStringView = $('#searchString_ChooseDevices').val();
            getToAddBorrowDevices();
         });

         $('.page-link').click(function () {
             pageView = $(this).attr('value');
             console.log("Page: " + pageView);
            getToAddBorrowDevices();
         });


         $('#ngayMuonInput').val(Ngaymuon);
        function getToAddBorrowDevices() {
             $.ajax({
                url: '/Admin/PhieuMuonAdmin/AddBorrowDevices',
                type: 'Get',
                data: {
                    madongtb: madongtbView,
                    page: pageView,
                    searchString: searchStringView,
                    Ngaymuon : Ngaymuon
                },
                 success: function (response) {
                    console.log("Get to success");
                    $('#contentChooseDevices').html(response);
                     openModalPopup();
                     
                 }
             });
         }
       
        function closeModalPopup() {
            $('#exampleModal').removeClass('show');
            $('#exampleModal').attr('aria-hidden', 'true');
            $('#exampleModal').removeAttr('aria-modal');
            $('#exampleModal').css({
                'display': 'none',
                'padding-right': ''
            });
            $('.modal-backdrop').remove();
            console.log("Get to close modal popup");
            $('body').removeClass('modal-open');
            $('body').css({
                'padding-right': ''
            });
            searchStringView = null;
            pageView = null;
            
        }

        function openModalPopup() {
            $('#exampleModal').addClass('show');
            $('#exampleModal').removeAttr('aria-hidden');
            $('#exampleModal').attr('aria-modal', 'true');
            $('#exampleModal').css({
                'display': 'block',
                'padding-right': '17px'
            });
        }
     });
     
 </script>
<div id="contentChooseDevices">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#exampleModal">
    Thêm thiết bị
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:60%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Danh sách dòng thiết bị</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="CloseModalPopup">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="width:100%" class="d-none d-md-flex align-items-center mb-2">
                    <div class="input-group" style="width:50%">
                        <!-- Search bar -->
                        <input name="searchString" id="searchString_ChooseDevices" type="search" placeholder="Tìm tên dòng thiết bị..." class="form-control rounded" aria-label="Search">
                        <a class="btn btn-info rounded mr-2" id="btnSearch_ChooseDevices">
                            <svg class="icon icon-lg">
                                <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-search")"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="form-group mb-0 ml-2" style="width:20%">
                        <label class="mb-1"><strong>Ngày mượn</strong></label>
                        <input type="date" class="form-control" placeholder="dd-mm-YYYY" id="BorrowTo" min="2024-03-01" />
                        </div>

                </div>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("NgaymuonPm") == null)
                    {
                        <div class="alert alert-info" role="alert" id="alertNgaymuon">
                            Vui lòng chọn ngày mượn
                        </div>
                    }
                    else
                    {
                        if (DateTime.Parse(HttpContextAccessor.HttpContext.Session.GetString("NgaymuonPm")).Year < 2010)
                        {
                            <div class="alert alert-info" role="alert" id="alertNgaymuon">
                                Vui lòng chọn ngày mượn
                            </div>
                        }
                    }

                <table class="table table-striped text-center">
                    <thead>
                        <tr class="text-center">
                            <th>STT</th>
                            <th>Ảnh</th>
                            <th>Tên Thiết bị</th>
                            <th>Sẵn sàng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = (Model.PageNumber-1) *Model.PageSize;
                        }
                        @foreach (DongTbAndAmount dongtbAmount in Model)
                        {
                            if (dongtbAmount.amount == 0)
                            {
                                continue;
                            }
                            <tr>
                                <td>@(++index)</td>
                                <td> <img src="@Url.Content("~/images/" + dongtbAmount.hinhanh)" class="card-image-top thumbnail-image" /></td>
                                <td>@dongtbAmount.tendongtb </td>
                                <td>@dongtbAmount.amount</td>
                                <td>
                                        <a value="@dongtbAmount.madongtb" class="addProductA btn btn-primary btn-sm rounded">
                                        <svg class="icon icon-lg">
                                            <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-plus")"></use>
                                        </svg>
                                    </a>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-center">
                        <!-- First Page -->
                        @if (Model.PageNumber > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" value="1">Đầu</a>
                            </li>
                        }

                        <!-- Page Numbers -->
                        @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, Model.PageCount); i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" value="@i">@i</a>
                            </li>
                        }

                        <!-- Last Page -->
                        @if (Model.PageNumber < Model.PageCount)
                        {
                            <li class="page-item">
                                <a class="page-link" value="@Model.PageCount">Cuối</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-secondary CloseModalPopup" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>


    <partial name="_PartialViewShowProductMuonCart" />

</div>