@model X.PagedList.IPagedList<Phieumuon>
<script>

    $(document).ready(function () {
        var searchString1 = '@ViewBag.searchString';
        var selectAnother = '@ViewBag.selectState';
        var borrowFrom = '@ViewBag.borrowFrom';
        var borrowTo = '@ViewBag.borrowTo';
        var page1 = null;
        var selectKhoa = '@ViewBag.selectKhoa';
        $('#searchString_2').val(searchString1);
        $('#SelectAnother').val(selectAnother);
        $('#BorrowFrom').val(borrowFrom);
        $('#BorrowTo').val(borrowTo);
        $('#KhoaSelect').val(selectKhoa);

        $('#btnSearch_2').click(function (e) {
            var selectedValue = $('#searchString_2').val();
            searchString1 = selectedValue;
            getToController();
        });

        $('#searchString_2').change(function () {
            var selectedValue = $(this).val();
            searchString1 = selectedValue;
            getToController();
        });

        $('#SelectAnother').change(function () {
            var selectedValue = $(this).val();
            if (selectedValue) {
                selectAnother = selectedValue;
                getToController();
            }

        });

        $('#KhoaSelect').change(function () {
            var selectedValue = $(this).val();
            if (selectedValue) {
                selectKhoa = selectedValue;
                getToController();
            }
        });

        $('#BorrowFrom').change(function () {
            var selectedValue = $(this).val();
            if (selectedValue) {
                borrowFrom = selectedValue;
                getToController();
            }
        });

        // $('#BorrowFrom').siblings('button[type="button"][aria-label="Clear"]').on("click", function () {
        //     borrowFrom = null;
        //     getToController();
        // });

        $('#BorrowTo').change(function () {
            var selectedValue = $(this).val();
            if (selectedValue) {
                borrowTo = selectedValue;
                getToController();
            }
        });

        $('.page-link').on("click", function () {
            var selectedValue = $(this).attr('value');
            page1 = selectedValue;
            getToController();
        });


        function getToController() {
            $.ajax({
                url: '/admin/PhieuMuonAdmin/DanhsachPhieuMuon',
                type: 'GET',
                data: {
                    page: page1,
                    searchString: searchString1,
                    Trangthai: selectAnother,// Corrected the colons here,
                    indexPartial: 2,
                    Makhoa: selectKhoa,
                    From: borrowFrom,
                    To: borrowTo
                    },
                success: function (response) { // Corrected the parameter name here
                    $('#content_2').html(response);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText); // Log any errors to the console
                }
            });
        }
    });

</script>
<div id="content_2">
    <div style="width:100%" class="d-none d-md-flex align-items-center mb-2">
        <div class="input-group" style="width:35%">
            <!-- Search bar -->
            <input name="searchString" id="searchString_2" type="search" placeholder="Tìm tên tên sinh viên..." class="form-control rounded" aria-label="Search">
            <button class="btn btn-info rounded mr-2" type="submit" id="btnSearch_2">
                <svg class="icon icon-lg">
                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-search")"></use>
                </svg>
            </button>
        </div>
        <select id="KhoaSelect" class="rounded-2 form-select mr-2" style="width:15%">
            <option value="">Chọn khóa</option>
            @foreach (SelectListItem k in ViewBag.selectKhoa)
            {
                <option value="@k.Value">@k.Text</option>
            }
        </select>
        <select class="rounded-2 form-select" style="width:19%" id="SelectAnother">
            <option value="">Chọn trạng thái</option>
            <option value="0">Chưa duyệt</option>
            <option value="1">Chưa trả</option>
            <option value="2">Đã duyệt</option>
            <option value="3">Đã trả</option>
            <option value="4">Từ chối</option>
            <option value="5">Hủy phiếu</option>
            <option value="6">Không mượn</option>
        </select>
        <div class="form-group mb-0 ml-2" style="width:15%">
            <label class="mb-1"><strong>Ngày mượn từ</strong></label>
            <input type="date" class="form-control" id="BorrowFrom" min="2024-03-01">
        </div>
        <div class="form-group mb-0 ml-2" style="width:15%">
            <label class="mb-1"><strong>Ngày mượn đến</strong></label>
            <input type="date" class="form-control" id="BorrowTo" min="2024-03-01"/>
        </div>
        
    </div>

    <div class="bs-stepper linear">
        <div class="bs-stepper-content">

            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>STT</th>
                        <th>Tên sinh viên</th>
                        <th>Khóa</th>
                        <th>Ngành</th>
                        <th>Ngày lập</th>
                        <th>Ngày mượn</th>
                        <th>Người duyệt</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int indexCount = (Model.PageNumber - 1) * Model.PageSize;
                    }
                    @foreach (Phieumuon pm in Model)
                    {
                        ++indexCount;
                        var formattedDateNgayLap = ((DateTime)pm.Ngaylap).ToString("dd/MM/yyyy");
                        var formattedDateNgayMuon = ((DateTime)pm.Ngaymuon).ToString("dd/MM/yyyy");
                        <tr class="text-center">
                            <td>@indexCount</td>
                            <td>@pm.MasvNavigation.Tensv</td>
                            <td>@pm.MasvNavigation.MakhoaNavigation.Tenkhoa</td>
                            <td>@pm.MasvNavigation.ManganhNavigation.Tennganh</td>
                            <td>@formattedDateNgayLap</td>
                            <td>@formattedDateNgayMuon</td>
                            <td>@(pm.Manv == null ? "" : pm.ManvNavigation.Tennv)</td>
                            <td>
                                <partial name="_PartialTrangthaiPM" model="@pm.Trangthai" />
                            </td>
                            <td>
                                <a asp-action="ChitietPhieuMuon" asp-controller="PhieuMuonAdmin" asp-route-mapm="@pm.Mapm" class="btn btn-info btn-sm rounded">
                                    <svg class="icon icon-lg">
                                        <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-pen")"></use>
                                    </svg>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <nav>
                <ul class="pagination justify-content-center">
                    <!-- First Page -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" value="1">Đầu</a>
                        </li>
                    }

                    <!-- Page Numbers -->
                    @for (var i = Math.Max(1, Model.PageNumber - 2); i <= Math.Min(Model.PageNumber + 2, Model.PageCount); i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" value="@i">@i</a>
                        </li>
                    }

                    <!-- Last Page -->
                    @if (Model.PageNumber < Model.PageCount)
                    {
                        <li class="page-item">
                            <a class="page-link" value="@Model.PageCount">Cuối</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

</div>