@using ThietBiDienTu_2.Areas.Admin.ViewModels;
@model PhieuMuonViewModel
@{
    string serializedData = Newtonsoft.Json.JsonConvert.SerializeObject(Model.ctpmView);
}
@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Home</a></li>
                <li class="breadcrumb-item"><a href="/Admin/PhieuMuonAdmin/DanhsachPhieuMuon">Danh sách phiếu mượn</a></li>
                <li class="breadcrumb-item active" aria-current="page">Chi tiết phiếu mượn</li>
            </ol>
        </nav>
    </div>
}
<script>
    function checkValue(index) {
        var checkView = document.getElementById('flexCheckDefault_' + index);
        var hiddenCheck = document.getElementById('checkValue_' + index);
        hiddenCheck.checked = checkView.checked;
    }

    var ctpmViewData = @Html.Raw(serializedData);

    $(document).ready(function () {

        function checkBegin() {
            for (var i = 0; i < ctpmViewData.length; ++i){
        var count = 0;
        var soluong = ctpmViewData[i].Soluong;
        for (var a = 0; a < soluong; a++)
        {
            if ($('#checkValue_'+i+'_'+a).prop('checked')) {
                ++count;
            }
        }
    var productCheckElement = $('#productCheck_' + i);
        if (count == soluong) {
                    productCheckElement.html('<svg class="icon icon-lg"><use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-calendar-check")"></use></svg><span class="ml-1">Trả đủ<span>');
                    productCheckElement.removeClass('danger');
                    productCheckElement.addClass('finish');
        }
        else{
                    productCheckElement.html('<svg class="icon icon-lg"><use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-history")"></use></svg> <span class="ml-1">Thiếu ' + (soluong - count)+'<span>');
                    productCheckElement.removeClass('finish');
                    productCheckElement.addClass('danger');
        }
    }

            }

        $('.form-check-input').click(function () {
            checkBegin();
        });

    checkBegin()
         });

</script>
<form asp-action="ChitietPhieuMuon" asp-controller="PhieuMuonAdmin" method="post">
    <input asp-for="Mapm" value="@Model.Mapm" hidden />
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <h3 class="card-title mb-0 mr-3">Chi tiết phiếu mượn</h3>
                        <partial name="_PartialTrangthaiPM" model="@Model.Trangthai" />
                    </div>
                </div>



                @if (Model.Trangthai == 0)
                {
                    <div class="col-auto text-center">
                        <div class="card-tools">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-x-circle")"></use>
                                </svg>
                                Từ chối
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận từ chối?</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <select class="form-control" asp-for="@Model.LydoTuChoi">
                                                <option value="0">Chọn lý do từ chối </option>
                                                <option value="Dấu hiệu spam">Spam</option>
                                                <option value="Khác">Khác</option>
                                            </select>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit" asp-route-trangthai="4" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" asp-route-trangthai="2" class="btn btn-success btn-sm">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-check-circle")"></use>
                                </svg>
                                Đồng ý
                            </button>
                        </div>
                    </div>
                }
                @if (Model.Trangthai == 1 || Model.Trangthai == 3)
                {
                    <div class="col-auto text-center">
                        <div class="card-tools">
                            <button type="submit" asp-route-trangthai="@Model.Trangthai" class="btn btn-primary btn-sm">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-check-alt")"></use>
                                </svg>
                                Xác nhận
                            </button>
                        </div>
                    </div>
                }
                @if (Model.Trangthai == 2 && Model.Ngaymuon.Date == DateTime.Now.Date)
                {
                    <div class="col-auto text-center">
                        <div class="card-tools">
                            <button type="submit" asp-route-trangthai="1" class="btn btn-primary btn-sm">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-check-alt")"></use>
                                </svg>
                                Xác nhận lấy thiết bị
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card-body">
            <h3 class="text-center">Thông tin phiếu mượn</h3>
            <partial name="_PartialPhieuMuonInfo" model="@Model" />

            <h3 class="text-center mt-3"> Danh sách thiết bị mượn</h3>
            <div class="accordion" id="accordionExample">
                @for (int i = 0; i < Model.ctpmView.Count; ++i)
                {
                    <input asp-for="@Model.ctpmView[i].Madongtb" hidden />
                    for (int a = 0; a < Model.ctpmView[i].Soluong; a++)
                    {
                        <input asp-for="@Model.ctpmView[i].Matb[a]" hidden />
                        <input asp-for="@Model.ctpmView[i].check[a]" id="checkValue_@(i)_@(a)" hidden />
                        <input type="datetime" asp-for="@Model.ctpmView[i].Ngaytra[a]" hidden />
                    }
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed d-flex justify-content-between align-items-center" type="button" data-coreui-toggle="collapse" data-coreui-target="#collapse(@Model.ctpmView.ElementAt(i).Madongtb)" aria-expanded="true" aria-controls="collapse(@Model.ctpmView.ElementAt(i).Madongtb)">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/@Model.ctpmView.ElementAt(i).Hinhanh" style="width:55px;height:55px" />
                                    <div class="ml-3">
                                        <h5>@Model.ctpmView.ElementAt(i).Tendongthietbi</h5>
                                        <h6><strong>Số lượng: @Model.ctpmView.ElementAt(i).Soluong</strong></h6>
                                    </div>
                                    

                                </div>
                                @if (Model.Trangthai == 1 || Model.Trangthai == 3)
                                {
                                    <div class="custom-div ml-auto" id="productCheck_@(i)">
                                    </div>
                                }
                               
                            </button>
                            
                        </h2>
                        <div id="collapse(@Model.ctpmView.ElementAt(i).Madongtb)" class="accordion-collapse collapse" data-coreui-parent="#accordionExample">
                            <div class="accordion-body">
                                @if (Model.Trangthai != 1 && Model.Trangthai != 3)
                                {
                                    <table class="table table-striped ">
                                        <thead class="text-center">
                                            <tr class="text-center">
                                                <th>STT</th>
                                                <th>Seri thiết bị</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">

                                            @for (int j = 0; j < Model.ctpmView[i].Seri.Count; j++)
                                            {
                                                int a = j + 1;
                                                <tr class="text-center">
                                                    <td>@a</td>
                                                    <td>@Model.ctpmView.ElementAt(i).Seri[j]</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table class="table table-striped ">
                                        <thead class="text-center">
                                            <tr class="text-center">
                                                <th>STT</th>
                                                <th>Seri thiết bị</th>
                                                <th>Ngày trả</th>
                                                <th>Đã trả</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">

                                            @for (int j = 0; j < Model.ctpmView.ElementAt(i).Soluong; j++)
                                            {
                                                int a = j + 1;
                                                <tr class="text-center">
                                                    <td>@a</td>
                                                    <td>@Model.ctpmView.ElementAt(i).Seri[j]</td>
                                                    <td>@(Model.ctpmView.ElementAt(i).Ngaytra[j].Year > 2010 ? Model.ctpmView.ElementAt(i).Ngaytra[j] : "")</td>
                                                    <td>
                                                        <input asp-for="@Model.ctpmView.ElementAt(i).check[j]"
                                                               class="form-check-input" type="checkbox" onclick="checkValue('@(i)_@(j)')" id="flexCheckDefault_@(i)_@(j)">
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }

                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="row">
                <div class="col-md-6">

                    <a asp-action="DanhsachPhieuMuon" asp-controller="PhieuMuonAdmin" class="btn btn-secondary btn-sm">Quay lại</a>

                </div>
                <div class="col-md-6">
                    @if (Model.Trangthai == 1 || Model.Trangthai == 3)
                    {
                        <div class="card-tools float-right">
                            <button type="submit" asp-route-trangthai="@Model.Trangthai" class="btn btn-primary btn-sm">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-check-alt")"></use>
                                </svg>
                                Xác nhận
                            </button>
                        </div>
                    }
                    @if (Model.Trangthai == 0)
                    {
                        <div class="card-tools float-right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#exampleModal">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-x-circle")"></use>
                                </svg>
                                Từ chối
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Xác nhận từ chối?</h5>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <select class="form-control" asp-for="@Model.LydoTuChoi">
                                                <option value="0">Chọn lý do từ chối </option>
                                                <option value="Dấu hiệu spam">Spam</option>
                                                <option value="Khác">Khác</option>
                                            </select>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit" asp-route-trangthai="4" class="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" asp-route-trangthai="2" class="btn btn-success btn-sm">
                                <svg class="icon icon-lg">
                                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-check-circle")"></use>
                                </svg>
                                Đồng ý
                            </button>
                        </div>

                    }

                </div>
            </div>

        </div>
    </div>
</form>