@model Phong

<h1>Xóa Phòng</h1>

<h3>Bạn có chắc muốn xóa phòng này?</h3>
<div>
    <h4>Phong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Mã phòng</dt>
        <dd>@Model.Map</dd>
        <dt>Mã cơ sở</dt>
        <dd>@Model.Macs</dd>
        <dt>Tên phòng</dt>
        <dd>@Model.Tenphong</dd>
        <dt>Loại phòng</dt>
        <dd>@Model.Loaiphong</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Map" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a href="@Url.Action("Index")">Hủy</a>
    </form>
</div>
