@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Quản lý thiết bị";
}

<h1>MƯỢN THIẾT BỊ TRƯỜNG ĐẠI HỌC QUỐC TẾ SÀI GÒN</h1>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Card View</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="@Url.Action("Index", "Cart")" class="card-link">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <h5 class="card-title text-white">Phiếu mượn thiết bị</h5>
                            <p class="card-text text-white"></p>
                            <p class="card-text text-white"><strong>Số lượng: @ViewBag.TotalQuantity </strong></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4 mb-3">
                <a href="@Url.Action("Index", "Histroy")" class="card-link">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <h5 class="card-title text-white">Tổng số phiếu mượn chưa duyệt</h5>
                            <p class="card-text text-white"></p>
                            <p class="card-text text-white"><strong>Số lượng: @ViewBag.CDCount</strong></p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 md-3">
                <a href="@Url.Action("DanhsachPhieuMuon", "PhieuMuonAdmin")" class="card-link">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <h5 class="card-title text-white">Tổng số phiếu mượn chưa trả</h5>
                            <p class="card-text text-white"></p>
                            <p class="card-text text-white"><strong>Số lượng: @ViewBag.CTCount</strong></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
