@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Dongthietbi>
@section searchArea{
    <form id="searchForm" asp-action="Index" asp-controller="Home" method="get" style="width:40%" class="d-none d-md-flex">
        <div class="input-group">
            <!-- Search bar -->
            <input value="@ViewBag.searchString" style="width:30%" name="searchString" id="searchString" type="search" placeholder="Tìm tên dòng thiết bị..." class="form-control rounded" aria-label="Search">
            <button class="btn btn-info rounded" type="submit">
                <svg class="icon icon-lg">
                    <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-search")"></use>
                </svg>
            </button>
            <!-- Filter dropdown 1 -->
        </div>
        <input name="NgayDat" type="date" id="NgayDat" class="ml-2" />
    </form>
}

<!-- Section-->
<div class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @{
                int counter = 0;
                foreach (var item in Model)
                {
                    @if (item.Soluong <= 0)
                    {
                        continue;
                    }
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="~/images/@item.Hinhanh" alt="@item.Tendongtb" />
                            <!-- Product details-->
                            <div class="card-body p-4 product-details">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Tendongtb</h5>
                                    <p>Trạng thái: @item.Mota</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="/Cart/Add/@item.Madongtb">Add to cart</a>
                                    <!--Chuc nang them san pham vao trong controller cart-->
                                </div>
                            </div>
                        </div>
                    </div>
                    counter++;
                    if (counter % 4 == 0)
                    {
                        @:</div><div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    }
                }
            }
        </div>
    </div>
</div>

<!-- Xem thêm button -->
<div class="text-center">
    <a asp-controller="Home" asp-action="Index" asp-route-trangThai="Tồn Kho" class="btn btn-primary see-more-btn">
        Xem thêm
    </a>
</div>

<!-- Footer-->
<div class="footer"></div>

<script>
    document.getElementById('NgayDat').addEventListener('change', function () {
        console.log("Value date time", this.value);
        document.getElementById('searchForm').submit();
    });
</script>
