@using System.Collections.Generic
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Nganh>


<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (e) {
            e.preventDefault();
            searchNganh();
        });

        $('#searchString').keypress(function (e) {
            if (e.which === 13) {
                searchNganh();
            }
        });
    });

    function searchNganh() {
        var searchString = $('#searchString').val();
        $.ajax({
            url: '/admin/Nganh/Search',
            type: 'POST',
            data: { searchString: searchString },
            success: function (response) {
                $('#PartialViewNganh').html(response);
            },
            error: function () {
                console.log("fail");
            }
        });
    }
</script>
@section naviheader{
    <div class="header-divider"></div>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/HomeAdmin/Index">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Danh sách ngành</li>
            </ol>
        </nav>
    </div>
}

@section searchArea {
    <form id="searchForm" class="input-group" style="width:40%">
        <!-- Search bar -->
        <input style="width:30%" name="searchStringNganh" id="searchString"
               type="search" placeholder="Tìm tên ngành" class="form-control rounded" aria-label="Search">
        <button class="btn btn-info rounded" type="submit" id="searchButton">
            <svg class="icon icon-lg">
                <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-search")"></use>
            </svg>
        </button>
    </form>
}

<!-- Phân trang -->
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h3 class="card-title">Danh sách ngành</h3>
            </div>
            <div class="col-auto">
                <div class="card-tools">
                    <a asp-action="Create" class="btn btn-primary btn-sm">
                        <svg class="icon icon-lg">
                            <use xlink:href="@Url.Content("~/LayoutAdmin/dist/vendors/_coreui/icons/svg/free.svg#cil-plus")"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body ">
        <div class="bs-stepper linear">
            <div class="bs-stepper-content">

                <div id="PartialViewNganh">

                <partial name="PartialViewNganh" model="Model" />
                </div>
                <nav>
                    <ul class="pagination justify-content-center">
                        <!-- First Page -->
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = 1, searchStringController = ViewBag.CurrentFilter })">Đầu</a>
                            </li>
                        }

                        <!-- Page Numbers -->
                        @for (var i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i, searchStringController = ViewBag.CurrentFilter })">@i</a>
                            </li>
                        }

                        <!-- Last Page -->
                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageCount, searchStringController = ViewBag.CurrentFilter })">Cuối</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="footer"></div>
